langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_chroma
langchain_groq
langchain_huggingface
pypdf
chromadb
arxiv
wikipedia
duckduckgo-search
gradio
crewai
crewai_tools
pinecone 
pinecone-text
pinecone-notebooks
ipykernel